<div class="login-wrapper">
  <form class="login" novalidate>
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      HostManager
      <h5 class="hint">Use <b>user@fake.com</b> / <b>userpass</b> to login</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Username"
             [(ngModel)]="username" name="username" required>
      <input class="password" type="password" id="login_password" placeholder="Password"
             [(ngModel)]="password" name="password" required>
      <div [ngClass]="{active: hasError}" class="error active">
        Invalid user name or password
      </div>
      <button (click)="login()" type="submit" class="btn btn-primary">NEXT</button>
    </div>
  </form>
</div>
